
Image_classification/.ipynb_checkpoints/
Image_classification/saved_model/my_model_caltechown/saved_model.pb
Image_classification/saved_model/my_model_caltechown/variables/variables.data-00000-of-00001
Image_classification/saved_model/my_model_caltechown/variables/variables.index
